/* Set Fonts */
html, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6, .uk-logo, .uk-navbar-item {
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* Dark mode color fixes */
.uk-light .uk-background-muted {
    background-color: #2a2a2a;
}

/* Search Styling */
input#query {
    border-radius: 0.25rem;
}

/* Enable active style for sub menus */
.uk-nav-default li.uk-active>a {
    color: #333;
}

/* Make the active menu item more visible */
.uk-nav-default li.uk-active>a, .uk-nav-default li.uk-active>a:hover {
    font-weight: 500;
}

/* Add border to nav */
.uk-nav ul {
    border-left: solid 1px #e5e5e5;
}
.uk-light .uk-nav ul {
    border-left: solid 1px rgba(255,255,255,.2);
}

/* Hide the first level of headings (h1) */
#TableOfContents > ul > li {
    list-style: none;
}
#TableOfContents > ul {
    padding-left: 0;
}

/* Make <em> tags not red */
em {
    color: inherit;
}

/* Add some styles to make blockquotes stand out more */
blockquote {
    padding-left: 1em;
    border-left: solid 3px #e5e5e5;
}

/*
 * Apply the uk-table styles to plain tables so they render right in the page 
 * content
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: block;
    overflow-x: auto;
    margin-bottom: 20px;
}
tbody > tr {
    border-top: 1px solid #e5e5e5;
}
th {
    padding: 16px 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-transform: uppercase;
}
td {
    padding: 16px 12px;
    vertical-align: top;
}

/* Add a grey label */
.uk-label-default {
    background-color: #9e9e9e;
    color: #fff;
}

/* Make the mark stand out a little more */
mark {
    background: #ffffb0;
}

/* Heading Styles */
.uk-container > h2, .uk-container > h3 {
    border-bottom: solid 1px #e5e5e5;
}

/* Card Styles */
.uk-card-border {
    border: solid 2px #e8e8e8;
    padding: 1.5rem;
}
.uk-light .uk-card-border {
    border: solid 2px #444;
}
.uk-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
}
.uk-card > p {
    margin-top: 0.5rem;
}

/* Code Block Styles */
#main-content pre {
    max-height: 80vh; /* Prevent huge code blocks from being hard to scroll past */
    border: none;
    margin: 0;
}
div.highlight {
    margin-bottom: 20px;
}
div.highlight tbody > tr {
    border: none;
}

/* Add an xs set of margin classes */
.uk-margin-xs {
    margin: 5px !important;
}
.uk-margin-xs-right {
    margin-right: 5px !important;
}
.uk-margin-xs-left {
    margin-left: 5px !important;
}
.uk-margin-xs-top {
    margin-top: 5px !important;
}
.uk-margin-xs-bottom {
    margin-bottom: 5px !important;
}

/*Dark theme alerts */
.uk-light .uk-alert {
    background: #666;
    color: #f8f8f8;
}
.uk-light .uk-alert-primary {
    color: #d8eafc;
    background: #1e87f0;
}
.uk-light .uk-alert-success {
    color: #edfbf6;
    background: #019960;
}
.uk-light .uk-alert-warning {
    color: #fff6ee;
    background: #c47539;
}
.uk-light .uk-alert-danger {
    color: #fef4f6;
    background: #a6223b;
}