/* Set Fonts */
html, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6, .uk-logo, .uk-navbar-item {
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* Print rules */
@media print
{

    /* Add a class for making elements not print */
    .no-print, .no-print *
    {
        display: none !important;
    }

    /* Set the print page margins */
    @page {
        margin: 15mm 15mm 15mm 15mm;
    }

    /* Horizontal scrolling is hard on paper, so wrap the text in code blocks */
    pre {
        white-space: pre-wrap;
    }

}

/* Search Styling */
input#query {
    border-radius: 0.25rem;
}

/* Enable active style for sub menus */
.uk-nav-default li.uk-active>a {
    color: #333;
}

/* Make the active menu item more visible */
.uk-nav-default li.uk-active>a, .uk-nav-default li.uk-active>a:hover {
    font-weight: 500;
}

/* Add border to nav */
.uk-nav ul {
    border-left: solid 1px #e5e5e5;
}

/* Hide the first level of headings (h1) */
#TableOfContents > ul > li {
    list-style: none;
}
#TableOfContents > ul {
    padding-left: 0;
}

/* Make <em> tags not red */
em {
    color: inherit;
}

/* Add some styles to make blockquotes stand out more */
blockquote {
    padding-left: 1em;
    border-left: solid 3px #e5e5e5;
}

/*
 * Apply the uk-table styles to plain tables so they render right in the page 
 * content
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: block;
    overflow-x: auto;
    margin-bottom: 20px;
}
tbody > tr {
    border-top: 1px solid #e5e5e5;
}
th {
    padding: 16px 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-transform: uppercase;
}
td {
    padding: 16px 12px;
    vertical-align: top;
}

/* Add a grey label */
.uk-label-default {
    background-color: #9e9e9e;
    color: #fff;
}

/* Make the mark stand out a little more */
mark {
    background: #ffffb0;
}

/* Heading Styles */
.uk-container > h2, .uk-container > h3 {
    border-bottom: solid 1px #e5e5e5;
}

.uk-card-border {
    border: solid 2px #e8e8e8;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.uk-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
}
.uk-card > p {
    margin-top: 0.5rem;
}