{{ $currentNode := . }}

<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
    <li class="uk-nav-header">Navigation</li>
    <li class="uk-nav-divider"></li>

    <!-- Home Link -->
    <li class="{{ if .Page.IsHome }}uk-active{{ end }}">
        <a href="{{ .Site.Home.RelPermalink }}">Home</a>
    </li>

    <!-- Generate a menu for each section -->
    {{ range .Site.Home.Sections.ByWeight }}
        {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
    {{ end }}

    <!-- Static menu items from config file -->
    <li class="uk-nav-header">More Links</li>
    <li class="uk-nav-divider"></li>
    {{ with .Site.Menus.shortcuts }}
        {{ range sort . "Weight" }}
            <li>
                <a href="{{ .URL | absLangURL }}">
                    <span uk-icon="icon: link"></span>
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>

<!-- Recursive template that handles nested or non-nested menu items -->
{{ define "section-tree-nav" }}
    {{ $currentNode := .currentnode }}

    {{ with .sect }}

        <!-- Get the number of pages in the node -->
        {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}

        {{ if eq $numberOfPages 0 }}

            <li class="{{ if eq .URL $currentNode.URL }}uk-active{{ end }}">
                <a href="{{ .URL }}">{{ .Title }}</a>
            </li>

        {{ else }}

            <li class="{{ if .IsAncestor $currentNode }}uk-open{{ end }} uk-parent">
                <a href="#">{{ .Title }}</a>

                <!-- Gather all of the sub pages/sections -->
                {{ .Scratch.Set "pages" .Pages }}
                {{ if .Sections}}
                    {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
                {{ end}}
                {{ $pages := (.Scratch.Get "pages") }}

                <!-- Render the children -->
                <ul class="uk-nav-sub uk-nav-parent-icon" uk-nav>
                    <li class="{{ if eq .URL $currentNode.URL }}uk-active{{ end }}">
                        <a href="{{ .URL }}">Home</a>
                    </li>

                    {{ range $pages.ByWeight }}
                        {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
                    {{ end }}
                </ul>
                <!-- End children -->

            </li>

        {{ end }}

        
    {{ end }}

{{ end }}